* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr 300px;
    grid-template-rows: 30px repeat(3, 1fr) 100px 120px;
    grid-template-areas:
    "nav nav nav"
    "menu main ads"
    "menu main ads"
    "menu main ads"
    "menu nums nums"
    "menu footer footer";
}

header {
    grid-area: nav;
    background: black;
    display: flex;
    align-items: center;
}

h2 {
    color: #569188;
}

aside {
    grid-area: menu;
    background: #F0F0F0;
}

aside h4 {
    padding: 1em .5em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: main;
    background: white;
    padding: .5em;
}

h2 {
    margin-bottom: .5em;
}

article {
    display: flex;
    /*height: fit-content;*/
    flex-direction: column;
    grid-area: ads;
    background: white;
}

article section {
    height: fit-content;
    width: 90%;
    margin: auto;
}

footer {
    display: flex;
    flex-direction: column;
    grid-area: footer;
    background: #666666;
    color: white;

}

footer h4 {
    padding-left: .5em;
    position: absolute;
    bottom: 4em;
}

footer p {
    margin-top: auto;
    padding: .5em;
    background: #323232;
}

footer a {
    color: white;
}

.top-nav {
    display: flex;
    list-style: none;
}

.top-nav a {
    text-decoration: none;
    color: white;
    padding: .5em 1em;
}

.top-nav a:hover {
    background: white;
    color: black;
}

.logo {
    background: #333333;
}

.menu-links {
    margin-top: .5em;

}

.menu-links a:hover {
    background: black;
    color: white;
}

.menu-links a {
    display: block;
    text-decoration: none;
    color: black;
    padding: .5em;
}

.nums {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: nums;
}

.nums ul {
    display: flex;
    list-style: none;
}

.nums ul li {
    padding: .7em 1em;
    margin: 2px;
}

.nums ul li:hover {
    background: black;
    color: white;
}

.nums li:nth-child(1) {
    background: black;
    color: white;
}

.box-1 {
    border: 1px solid black;
    height: 70px;
    width: 100%;
    margin: 10px 0;

}
 .box-2 {
     border: 1px solid black;
     height: 110px;
     width: 100%;
 }




